@import "src/styles/variables/colors";
@import "src/styles/variables/resolutions";

header {
  position: fixed;
  top: 0;
  height: auto;
  padding: 10px 0;
  width: 100%;
  z-index: 1000;
  transition: background-color, box-shadow .2s ease;

  .header {

    .header-wrapper {

      .links {

        .link-list {
          padding: 0;
          margin: 0;

          .link {
            list-style-type: none;

            &:not(:last-child) {
              margin-right: 13%;
            }

            a {
              color: $blue-light;
              text-decoration: none;
            }
          }
        }
      }

      .logo {

        img {
          max-width: 80px;
          max-height: 40px;
          min-width: 50px;
          min-height: 30px;
        }
      }

      .actions {

        .buy-button {
          font-size: 0.9rem;
        }

        .menu-trigger {
          padding: 0;
          border-radius: 4px;
        }
      }
    }
  }

  &.scrolled {
    background-color: $white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
}

main {

  .introduce {
    background-image: url(src/assets/images/introduce-background.svg);
    background-repeat: no-repeat;
    background-size: 70% 100%;
    background-position-y: -30px;
    background-position-x: 560px;
    min-height: 100vh;

    section {

      .content-wrapper {

        .content {
          margin-top: 30%;

          .introduce-text {
            margin-bottom: 20px;
            color: $blue-bold;
            font-size: 3.1rem;
          }

          .description {
            margin-bottom: 70px;
            color: $blue-light;
            font-size: 1.1rem;
          }

          .actions {

            .purchase {

            }

            .learn-more {

            }
          }
        }

      }
    }

    @media all and (max-width: 576px){
      min-height: 50vh;
    }

    @media all and (min-width: 720px){
      min-height: 75vh;
    }

    @media all and (min-width: 992px){
      min-height: 100vh;
    }
  }


  .about {

    .main-advantage {
      padding-top: 50px;
      padding-bottom: 50px;

      .advantage {

        .advantage-text {
          color: $blue-bold;
          font-size: 2.8rem;
          margin-bottom: 15px;
        }

        .advantage-description {
          color: $blue-light;
          font-size: 1rem;
          margin-bottom: 80px;
        }

        .advantages-list {

          div {

            &:first-child {
              padding-left: 0;
            }

            &:last-child {
              padding-right: 0;
            }

            h3 {
              margin-top: 15px;
              margin-bottom: 5px;
              font-size: 1rem;
            }

            p {
              margin: 0;
              color: $gray-light;
              font-size: 0.8rem;
            }
          }

        }
      }

      .advantage-image {
        margin-top: 50px;

        img {
          width: 80%;
        }
      }
    }
  }

  .additions-advantage {
    padding-top: 5rem;
    padding-bottom: 5rem;

    h1 {
      font-size: 2.3rem;
      color: $blue-bold;
      margin-bottom: 15px;
    }

    p {
      font-size: 1rem;
      color: $blue-light;
    }

    @media all and (max-width: 576px){
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  .prices {
    background-image: url(src/assets/images/pricing-background.svg);
    background-repeat: no-repeat;
    background-position: center;
    clip-path: polygon(49% 12%, 62% 12%, 75% 10%, 88% 6%, 100% 0, 100% 100%, 0 100%, 0 0, 18% 7%, 33% 10%);
  }

}

footer {
  background: $lilac-light;

  .footer {
    padding-top: 60px;
    padding-bottom: 30px;

    .site-info {
      padding-bottom: 35px;
      border-bottom: 1px solid $gray-lighter;

      .date {
        color: $gray-lighter;
        font-weight: bold;
        font-size: 0.9rem;
      }

      .logo {

      }

      .code {

        .code-text {
          background: $blue-bolder;
          border-radius: 2px;
          color: $white;
          font-size: 0.8rem;
          text-align: center;
        }
      }

    }

    .links {
      margin-top: 20px;

      .navigate-links {

        ul {

          li {

            a {
              color: $blue-lighter;
              text-decoration: none;
              font-size: 0.9rem;
            }
          }
        }

      }

      .social-links {

      }

      .navigate-links,
      .social-links {
        ul {
          padding: 0;
          margin: 0;

          li {
            list-style-type: none;
          }

        }
      }
    }
  }
}














