<header class="header" #header>
  <div class="container d-flex header-wrapper align-items-center justify-content-between">
    <nav class="links d-sm-block d-none col-5">
      <ul class="link-list d-flex">
        <li class="link-item">
          <a class="link" href="">
            Home
          </a>
        </li>
        <li class="link-item">
          <a class="link" href="">
            About
          </a>
        </li>
        <li class="link-item">
          <a class="link" href="">
            Contact
          </a>
        </li>
      </ul>
    </nav>

    <a href="" class="logo d-flex col-4">
      <img src="./assets/icons/logo.svg" alt="logo">
    </a>

    <div class="actions d-flex justify-md-content-center justify-content-end col-3">
      <button class="buy-button button fluid d-sm-block d-none pr-5 pl-5 pt-1 pb-1">
        Buy Now
      </button>
      <app-burger class="menu-trigger d-sm-none d-flex"></app-burger>
    </div>
  </div>
</header>

<main class="main-content">
  <article class="introduce">
    <section class="container introduce-part">
      <div class="row content-wrapper">
        <div class="col-md-8 col-lg-6 content">
          <h1 class="introduce-text text-center text-sm-left">
            Introduce Your Product Quickly & Effectively
          </h1>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
          </p>
          <div class="actions d-flex flex-column flex-sm-row">
            <button class="button fluid purchase mr-sm-5 mb-sm-0 mb-3 pr-5 pl-5 pt-3 pt-sm-2 pb-3 pb-sm-2">
              Purchase UI Kit
            </button>
            <button class="button clear learn-more pr-5 pl-5 pt-3 pt-sm-2 pb-3 pb-sm-2">
              Learn More
            </button>
          </div>
        </div>
      </div>
    </section>
  </article>

  <article class="about container">
    <section class="row align-items-center main-advantage justify-content-center">
      <div class="col-md-6 col-12 advantage">
        <h1 class="advantage-text text-center text-sm-left">
          Light, Fast & Powerful
        </h1>
        <p class="advantage-description">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
          sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
          nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        </p>
        <ul class="advantages-list list-normalize d-flex">
          <li class="col-6 advantage-item">
            <img src="./assets/icons/first-advantage.svg" alt="advantage">
            <h3 class="item-title">
              Title Goes Here
            </h3>
            <p class="item-description">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            </p>
          </li>
          <li class="col-6 advantage-item">
            <img src="./assets/icons/first-advantage.svg" alt="advantage">
            <h3 class="item-title">
              Title Goes Here
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            </p>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-10 pt-5 pt-md-0 advantage-image-container justify-content-center d-flex">
        <img src="./assets/images/first-advantage.svg" class="advantage-image" alt="advantage">
      </div>
    </section>

    <section class="row additions-advantage align-items-center justify-content-around flex-md-row flex-column-reverse">
      <div class="col-md-5 col-10 pt-5 pt-md-0 advantage-image">
        <img src="./assets/images/second-advantage.svg" alt="advantage">
      </div>
      <div class="col-md-5 col-12 advantage">
        <h1 class="advantage-title text-center text-sm-left">
          Light, Fast & Powerful
        </h1>
        <p class="advantage-description">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
          sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
          nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        </p>
      </div>
    </section>

    <section class="row additions-advantage align-items-center justify-content-around flex-md-row flex-column-reverse">
      <div class="col-md-5 col-10 pt-5 pt-md-0 advantage-image">
        <img src="./assets/images/third-advantage.svg" alt="advantage">
      </div>
      <div class="col-md-5 col-12 advantage">
        <h1 class="advantage-title text-center text-sm-left">
          Light, Fast & Powerful
        </h1>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
          sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
          nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        </p>
      </div>
    </section>

    <section class="row additions-advantage align-items-center justify-content-around flex-md-row flex-column-reverse">
      <div class="col-md-5 col-10 pt-5 pt-md-0 advantage-image">
        <img src="./assets/images/fourth-advantage.svg" alt="advantage">
      </div>
      <div class="col-md-5 col-12 advantage">
        <h1 class="advantage-title text-center text-sm-left">
          Light, Fast & Powerful
        </h1>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
          sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
          nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        </p>
      </div>
    </section>
  </article>

  <article class="paid-services container pb-2 pb-md-5">
    <div class="service-description col-12 col-md-8 text-md-left text-center">
      <h1 class="prices-title w-100">
        A Price To Suit Everyone
      </h1>
      <p class="prices-description">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
      </p>
    </div>
    <ul class="list-prices list-normalize d-flex flex-wrap justify-content-center text-md-left text-center">
      <li class="price-item pb-5 pb-mb-0 col-md-4 col-8">
        <p class="item-price">
          FREE
        </p>
        <h4 class="item-title">
          UI Kit Demo
        </h4>
        <p class="item-description">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
          Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
        </p>
        <button class="purchase-item button fluid pr-3 pl-3 pt-1 pb-1">
          Purchase Now
        </button>
      </li>
      <li class="price-item pb-5 pb-mb-0 col-md-4 col-8">
        <p class="item-price">
          $40
        </p>
        <h4 class="item-title">
          Design Kit
        </h4>
        <p class="item-description">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
          Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
        </p>
        <button class="purchase-item button fluid pr-3 pl-3 pt-1 pb-1">
          Purchase Design Kit
        </button>
      </li>
      <li class="price-item pb-5 pb-mb-0 col-md-4 col-8">
        <p class="item-price">
          $75
        </p>
        <h4 class="item-title">
          Design & Code Package
        </h4>
        <p class="item-description">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
          Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
        </p>
        <button class="purchase-item button fluid pr-3 pl-3 pt-1 pb-1">
          Purchase Package
        </button>
      </li>
    </ul>
  </article>
</main>

<footer class="footer">
  <div class="container footer-wrapper">
    <div class="row site-info justify-content-between">
      <div class="date col-4 d-flex align-items-center">
        ©{{ currentDate?.getFullYear() }} UIX
      </div>

      <a href="" class="logo col-4 d-flex justify-content-center">
        <img src="./assets/icons/logo.svg" alt="logo">
      </a>

      <div class="code d-flex justify-content-end col-4">
        <div class="code-text pr-2 pl-2 pt-1 pb-1 d-flex align-items-center">
          ECD6D6E8-ABBE-4
        </div>
      </div>
    </div>
    <div class="row links justify-content-between">
      <nav class="navigate-links col-6 col-sm-5 col-md-3">
        <ul class="d-flex link-list list-normalize justify-content-between align-items-center">
          <li class="navigate-item">
            <a class="navigate-link" href="">
              Home
            </a>
          </li>
          <li class="navigate-item">
            <a class="navigate-link" href="">
              About
            </a>
          </li>
          <li class="navigate-item">
            <a class="navigate-link" href="">
              Contact
            </a>
          </li>
        </ul>
      </nav>

      <nav class="social-links col-6 col-sm-5 col-md-3">
        <ul class="socials-list d-flex list-normalize justify-content-between align-items-center">
          <li class="social-item">
            <a class="social-link" href="">
              <img src="./assets/icons/facebook.svg" class="social-image" alt="facebook">
            </a>
          </li>
          <li class="social-item">
            <a class="social-link" href="">
              <img src="./assets/icons/linkidin.svg" class="social-image" alt="linkidin">
            </a>
          </li>
          <li class="social-item">
            <a class="social-link" href="">
              <img src="./assets/icons/twitter.svg" class="social-image" alt="twitter">
            </a>
          </li>
          <li class="social-item">
            <a class="social-link" href="">
              <img src="./assets/icons/yt.svg" class="social-image" alt="youtube">
            </a>
          </li>
          <li class="social-item">
            <a class="social-link" href="">
              <img src="./assets/icons/instagram.svg" class="social-image" alt="instagram">
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
