*, body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
}

html {
  /* Never get smaller than this */
  font-size: 12px;
}

@media (min-width:800px) {
  html {
    font-size: 14px;
  }
}

@media (min-width:1000px) {
  html {
    /* Never get larger than this */
    font-size: 16px;
  }
}
